<style>
  body { margin: 0; padding: 0; background-color: #eee; font-family: system-ui,
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif; } .header { max-width:
  600px; font-size: 0.8rem; } .container { max-width: 600px; padding: 1.5rem;
  margin: 0 auto; background-color: #fff; text-align: left; font-size: 1rem;
  margin-bottom: 2rem; } .footer { max-width: 600px; padding-bottom: 1.5rem;
  margin: 0 auto; text-align: center; font-size: 0.8rem; color: #aaa; } .top {
  padding-bottom: 1rem; border-bottom: 1px solid #eee; } .top h2 { font-size:
  1.2rem; margin: 0; font-weight: 500; margin-bottom: 0.3rem; } .top p {
  font-size: 0.9rem; margin: 0; color: #aaa; } .middle { border-bottom: 1px
  solid #eee; } .middle p { font-weight: 400; line-height: 1.6; } .middle
  .submit { text-align: center; } .middle a { background-color: #007bff;
  text-decoration: none; border: 1px solid #007bff; border-radius: 3px; color:
  #fff; padding: 0.6rem 1rem; font-size: 1rem; cursor: pointer; } .bottom {
  line-height: 1.6; font-size: 0.9rem; color: #aaa; } .bottom a { color: #aaa;
  font-weight: 500; text-decoration: none; }
</style>
<div class="header"></div>
<div class="container">
  <div class="top">
    <div class="left">
      <h2>Hi {{user.name}},</h2>
      <p class="subject">Here are your password reset instructions</p>
    </div>
    <div class="right"></div>
  </div>
  <div class="middle">
    <p>
      A request to reset your
      {{company.name}}
      password has been made. If you did not make this request, simply ignore
      this email. If you did make this request, please reset your password:
    </p>
    <div class="submit">
      <a href="{{redirectUrl}}">Reset Password</a>
    </div>
    <p>Thank you<br />Team {{company.name}}</p>
  </div>
  <div class="bottom">
    <p>
      If the button above does not work, try copying and pasting the URL into
      your browser. If you continue to experience problems, please feel free to
      contact us at
      <a href="mailto:{{company.email}}">{{company.email}}</a>
    </p>
  </div>
</div>
<div class="footer">
  {{company.name}}
  &bull;
  {{company.address.street}}
  &bull;
  {{company.address.city}},
  {{company.address.state}},
  {{company.address.zip}},
  {{company.address.country}}
</div>